<h1>Welcome to Dr.Care</h1>

<div style="margin-top: 20px;">
  <%= link_to "Register New Patient", new_patient_path, class: "btn btn-success", style: "padding: 10px 20px; font-size: 16px;" %>
</div>

<div style="margin-top: 20px;">
  <%= link_to "Register New Patient Appointment", new_patient_appointment_path, class: "btn btn-info", style: "padding: 10px 20px; font-size: 16px;" %>
</div>
</div>